[submodule "Plugins/socketio-client-ue4"]
	path = Plugins/socketio-client-ue4
	url = https://github.com/getnamo/socketio-client-ue4.git
[submodule "Plugins/nodejs-ue4"]
	path = Plugins/nodejs-ue4
	url = https://github.com/getnamo/nodejs-ue4.git
[submodule "Content/Scripts"]
	path = Content/Scripts
	url = https://github.com/boxcritters/private-box.git
